body{
    padding: 0;
    margin: 0;
    font-family: 'inter';
}
.container{
    padding: 5rem;
}


button{
    width: 15%;
    border-radius: none;
    border: none;
    padding: 0.5rem;
    font-size: 0.8rem;
    color: white;
    background-color: black;
    cursor: pointer;
}